/* .nav-space {
	position: fixed;
	width: 100vw;
	top: 0;
	background-color: white;
	z-index: 99;
} */

.overwrite-nav.navbar {
	padding: 0rem;
}

.overwrite-nav .nav-border {
	-webkit-box-shadow: 0 0 0.3125rem #b0a0ad;
	box-shadow: 0 0 0.3125rem #b0a0ad;
}

.overwrite-nav {
	background-color: #fff;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 20;
}

@media (min-width: 1200px) {
	.overwrite-nav .navbar-brand {
		padding-left: 1rem;
	}
	.overwrite-nav .container-fluid {
		height: 4.375rem;
	}
	.overwrite-nav .navbar-nav .nav-link .tag-new {
		right: -8px;
	}
}

.overwrite-nav .navbar-nav {
	padding: 0rem;
}

.text-center {
	text-align: center !important;
}

.overwrite-nav .navbar-nav .nav-link {
	position: relative;
	color: #777;
	padding: 0.9375rem;
	line-height: 1.25rem;
}

.overwrite-nav .navbar-nav .nav-link .tag-new {
	position: absolute;
	width: 17px;
	top: 20px;
	right: inherit;
}

.tag-new > img {
	max-width: 100%;
	vertical-align: middle;
	transform: translateY(5px);
	animation: new-icon-animation 0.5s infinite alternate ease-in-out;
}

.overwrite-nav .navbar-nav .nav-link svg {
	color: #777;
	margin-right: 2px;
}

@keyframes new-icon-animation {
	0% {
		transform: translateY(-11px);
	}
	100% {
		transform: translateY(-14px);
	}
}
