* {
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tag-new > img {
	max-width: 100%;
	vertical-align: middle;
	transform: translateY(5px);
	animation: new-icon-animation 0.5s infinite alternate ease-in-out;
}

@keyframes new-icon-animation {
	0% {
		transform: translateY(-8px);
	}
	100% {
		transform: translateY(-11px);
	}
}
