.talks-partial .lecture-wrap {
	border: 1px solid #ddd;
	cursor: pointer;
	color: #666;
	height: 100%;
	background-color: #fff;
}

.talks-partial .lecture-wrap:hover {
	-webkit-box-shadow: 0px 9px 15px 2px rgba(137, 142, 150, 0.25);
	box-shadow: 0px 9px 15px 2px rgba(137, 142, 150, 0.25);
	-webkit-transform: translatey(-5px);
	transform: translatey(-5px);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.talks-partial .lecture-wrap .lecture-cover {
	width: 100%;
}

.rl-padding {
	padding: 0px 15px;
}

.badge-apply-course {
	color: #fff;
	background-color: #d90845;
}

.badge {
	padding: 5px 7px;
}

.talks-partial .lecture-wrap h4 {
	font-size: 18px;
}

.talks-partial .lecture-wrap small {
	color: #999;
}

.talks-partial .lecture-wrap .lecture-time {
	border-top: 1px solid #ddd;
}

.talks-partial .lecture-wrap .lecture-time small {
	width: 70px;
}

.talks-partial .lecture-wrap .lecture-time .lecture-time-item {
	width: 0%;
}

.badge-course-time {
	color: #666;
	background-color: #e6e6e6;
	font-size: 90%;
	padding: 7px 10px;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn-red {
	background: #d90845;
	color: #fff !important;
}

.btn-lg {
	padding: 15px 50px;
	font-size: 18px;
}
